<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="{{ get_url(path='/css/tailwind-output.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.23/dist/katex.min.css"
            integrity="sha384-//SZkxyB7axjCAopkAL1E1rve+ZSPKapD89Lo/lLhcsXR+zOYl5z6zJZEFXil+q0"
            crossorigin="anonymous"
        />
        <title>
            {% block page_title %}Guillaume Chirache{% endblock page_title %}
        </title>
        <script>
            if (
                localStorage.getItem("color-theme") === "dark" ||
                (!("color-theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>

    <body
        class="flex h-screen flex-col justify-stretch bg-gray-50 text-black dark:bg-gray-900 dark:text-white"
    >
        <header
            class="bg-white shadow-sm dark:border-b dark:border-gray-700 dark:bg-gray-800 dark:shadow-none"
        >
            <div
                class="mx-auto max-w-screen-lg px-4 py-2 lg:flex lg:items-center lg:justify-between"
            >
                <a
                    href="{{ get_url(path='/') }}"
                    class="flex items-center justify-center space-x-5"
                >
                    <img
                        class="h-10 w-10 rounded-full ring-1 ring-gray-300 lg:h-12 lg:w-12 dark:ring-gray-500"
                        src="{{ get_url(path='/images/me.jpeg') }}"
                        alt="Photo of me"
                    />

                    <div class="text-xl font-semibold">Guillaume Chirache</div>
                </a>

                <ul
                    class="mt-2 flex items-center justify-center space-x-4 font-medium text-gray-700 lg:mt-0 dark:text-gray-400"
                >
                    <li>
                        <a
                            class="hocus:text-red-700 dark:hocus:text-white focus"
                            href="{{ get_url(path='/') }}"
                            >About</a
                        >
                    </li>
                    <li>
                        <a
                            class="hocus:text-red-700 dark:hocus:text-white"
                            href="{{ get_url(path='@/posts/_index.md') }}"
                            >Posts</a
                        >
                    </li>
                    <li>
                        <a
                            class="hocus:text-red-700 dark:hocus:text-white"
                            href="{{ config.extra.github }}"
                        >
                            GitHub</a
                        >
                    </li>
                    <li>
                        <a
                            class="hocus:text-red-700 dark:hocus:text-white"
                            href="{{ config.extra.linkedin }}"
                            >LinkedIn</a
                        >
                    </li>
                    <li>
                        <button
                            id="theme-toggle"
                            type="button"
                            class="flex items-center justify-center outline-none hover:cursor-pointer hover:text-red-700 dark:hover:text-white"
                            aria-label="Toggle theme"
                        >
                            <svg
                                id="theme-toggle-dark-icon"
                                class="hidden w-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                                ></path>
                            </svg>
                            <svg
                                id="theme-toggle-light-icon"
                                class="hidden w-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                ></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </header>

        <main
            class="prose dark:prose-invert prose-p:text-justify mx-auto mt-6 mb-auto w-full max-w-screen-lg p-4"
        >
            {% block content %}{% endblock content %}
        </main>

        <footer
            class="mt-6 border-t border-gray-200 bg-white text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400"
        >
            <div class="mx-auto max-w-screen-lg px-4 py-2 text-center lg:py-4">
                Developed with Zola and Tailwind –
                <a
                    class="text-red-700 dark:text-red-300"
                    href="{{ config.extra.source }}"
                    >Source code</a
                >
            </div>
        </footer>

        <script src="{{ get_url(path='/js/theme-toggle.js') }}"></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.23/dist/katex.min.js"
            integrity="sha384-cpAIxua0Xbyc+XrpHQpCtJzGSZ6U2kS/FeyoKjnS+BgAYNV6uVUetVs/LC9+l3rs"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.23/dist/contrib/auto-render.min.js"
            integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body);"
        ></script>
    </body>
</html>
