{% extends "base.html" %}

{% block content %}
    <h1>
        Hi! 👋
    </h1>

    <p>I am Guillaume Chirache, a computer science student currently pursuing my master’s degree (<i>Master parisien de recherche en informatique</i>, M2 MPRI) in Paris. This year also corresponds to the fourth year of my studies in the <i>Cycle ingénieur</i> program at École polytechnique.</p>

    <p>I am primarily interested in areas at the intersection of mathematics and computer science, namely (post-quantum) cryptography, formal verification, programming languages, and computability.</p>

    <p>You are welcome to contact me at <code>[first]@[last].fr</code> (you can use <a href="{{ get_url(path='/pgp/guillaume-chirache-public-key.asc') }}">my PGP key</a>).</p>
{% endblock %}
