{% extends "base.html" %}

{% block page_title %}
    Posts – {{ super() }}
{% endblock %}

{% block content %}
    <h1>{{ section.title }}</h1>

    <p>I have created this section so I can write about interesting things from time to time.</p>

    <ul>
        {% for page in section.pages %}
            <li>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                ({{ page.date }})
            </li>
        {% else %}
            <li>Soon!</li>
        {% endfor %}
    </ul>
{% endblock content %}
